<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MysiteServlet</servlet-name>
        <servlet-class>com.mysitev2.MysiteServlet</servlet-class>
        <init-param>
            <param-name>version</param-name>
            <param-value>1.2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MysiteServlet</servlet-name>
        <url-pattern>/mysite</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           15
        </session-timeout>
    </session-config>
    
</web-app>
